body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	text-align: center;
	width: 900px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555555;
}

h1 {
	color: #784EEA;
}

h3 {
	font-weight: 500;
}

p {
	line-height: 140%;
	margin: 40px 0;
}

.btn {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	padding: 0 20px;
	line-height: 40px;
	border-radius: 43px;
	text-transform: uppercase;
	background-color: #784EEA;
	transition: 0.2s;
}

.btn:hover {
	background-color: #6D46D9;
	transition: 0.2s;
}

.link {
	background: transparent;
	color: #555555;
	text-transform: none;
}

.link:hover {
	background: transparent;
	color: #464646;
}
